/* ===============================
   PAGE BACKGROUND
================================ */

.login-content {
  --background: linear-gradient(
    160deg,
    #16a34a 0%,
    #22c55e 40%,
    #0f172a 100%
  );
}

/* ===============================
   CENTER WRAPPER
================================ */

.login-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 24px;
}

/* ===============================
   APP BRAND (TOP SECTION)
================================ */

.app-brand {
  text-align: center;
  color: #fff;
  margin-bottom: 32px;

  h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  p {
    opacity: 0.85;
    margin-top: 6px;
  }
}

/* ===============================
   LOGIN CARD
================================ */

.login-card {
  background: #ffffff;
  border-radius: 28px;
  padding: 28px 22px 32px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
  // max-width: 350px;
    width: 90%;
  max-width: 420px;

  h2 {
    text-align: center;
    margin-bottom: 24px;
    color: #16a34a;
    font-weight: 700;
  }
}

/* ===============================
   INPUT FIELDS
================================ */

ion-item {
  --background: #f8fafc;
  --border-radius: 14px;
  margin-bottom: 14px;
  padding-inline-start: 10px;
}

ion-input {
  font-size: 15px;
}

/* ===============================
   LOGIN BUTTON
================================ */

.login-btn {
  margin-top: 18px;
  height: 48px;
  --border-radius: 16px;
  font-weight: 600;
  font-size: 16px;

  --background: linear-gradient(
    135deg,
    #16a34a,
    #22c55e
  );

  box-shadow: 0 10px 25px rgba(34, 197, 94, 0.45);
}

/* ===============================
   HEADER TWEAK
================================ */

.login-header ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

.login-header ion-title {
  color: #fff;
}
