<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="center-wrapper">

    <div class="login-box">

      <form (ngSubmit)="login()">
        
        <ion-item>
          <ion-input name="username" placeholder="Username" [(ngModel)]="loginData.username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="loginData.password"></ion-input>
        </ion-item>
        <ion-item class="item-button">
          <ion-button class="button" type="submit">Sign In</ion-button>
        </ion-item>
      </form>
    </div>
  </div>
</ion-content>
