/* ===============================
   BACKGROUND
================================ */

.register-content {
  --background: linear-gradient(
    160deg,
    #16a34a 0%,
    #22c55e 40%,
    #0f172a 100%
  );
}

/* ===============================
   WRAPPER
================================ */

.register-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  align-items: center;
}

/* ===============================
   BRAND
================================ */

.brand {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;

  h1 {
    font-size: 30px;
    font-weight: 700;
  }
}

/* ===============================
   CARD
================================ */

.register-card {
  background: #ffffff;
  border-radius: 28px;
  padding: 26px 22px 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);

    width: 90%;
  max-width: 420px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #16a34a;
    font-weight: 700;
  }
}

/* ===============================
   INPUTS
================================ */

ion-item {
  --background: #f8fafc;
  --border-radius: 14px;
  margin-bottom: 12px;
}

ion-input {
  font-size: 15px;
}

/* ===============================
   BUTTON
================================ */

.register-btn {
  margin-top: 18px;
  height: 48px;
  font-weight: 600;
  --border-radius: 16px;

  --background: linear-gradient(
    135deg,
    #16a34a,
    #22c55e
  );

  box-shadow: 0 10px 25px rgba(34, 197, 94, 0.45);
}

/* ===============================
   HEADER
================================ */

.register-header ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

.register-header ion-title {
  color: #ffffff;
}
