<ion-header [translucent]="true" class="recommend-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recommended Stores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="recommend-content">

  <h4 class="section-title">Best Stores Near You</h4>

  <div class="store-list">

    <ion-card
      *ngFor="let s of store"
      class="recommend-card"
      [routerLink]="['/store-detail', s.store_id]"
      button>

      <!-- IMAGE -->
      <div class="store-thumb">
        <img
          *ngIf="s.store_image_path"
          [src]="environment.Upload_URL + '/' + s.store_image_path"
          alt="{{ s.store_name }}"
        />
      </div>

      <ion-card-content>

        <div class="store-header">
          <h2>{{ s.store_name }}</h2>
          <span class="distance">
            {{ s.distance }} km
          </span>
        </div>

        <!-- MATCHED ITEMS -->
        <div
          class="matched"
          *ngIf="s.matched_items?.length">

          <p class="label">Matched Items</p>

          <ul>
            <li *ngFor="let item of s.matched_items">
              {{ item.stock_name }}
            </li>
          </ul>

        </div>

        <!-- MISSING -->
        <p
          class="missing"
          *ngIf="s.missing_stock_id">
          Missing item ID: {{ s.missing_stock_id }}
        </p>

      </ion-card-content>

    </ion-card>

  </div>

</ion-content>
