<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar> -->
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="login-box">
    <ion-button routerLink="/register">Register</ion-button>
    <ion-button routerLink="/login">Login</ion-button>
    
  </div>
  <ion-button routerLink="/login" expand="block">Login</ion-button>
  

</ion-content> -->

<ion-content [fullscreen]="true" class="landing-content">
  <div class="center-wrapper">
    <div class="login-box">
      <h2>Welcome to ShopeHunt</h2>
      <p>Find stores and items easily near you</p>

      <ion-button expand="block" routerLink="/register">
        Register
      </ion-button>

      <ion-button expand="block" fill="outline" routerLink="/login">
        Login
      </ion-button>
    </div>
  </div>
</ion-content>

