/* =====================================
   GLOBAL COLOR THEME (EMERALD GREEN)
===================================== */

:root {
  --ion-color-primary: #16a34a;
  --ion-color-primary-rgb: 22, 163, 74;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #138a3f;
  --ion-color-primary-tint: #22c55e;

  /* Soft background colors */
  --app-bg-light: #ecfdf5;
  --app-bg: #f6f7fb;
}

/* FORCE SAME COLORS IN DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-primary: #16a34a;
    --ion-color-primary-rgb: 22, 163, 74;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #138a3f;
    --ion-color-primary-tint: #22c55e;

    --app-bg-light: #052e1c;
    --app-bg: #020617;
  }
}
