<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>store-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">store-detail</ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-card *ngIf="store?.length">
    <ion-card-header>
      <ion-card-title>Welcome, {{ store[0]?.store_name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Store ID:</strong> {{ store[0]?.store_id }}</p>
      <p><strong>Seller ID:</strong> {{ store[0]?.seller_id }}</p>
      <p><strong>Location:</strong> {{ store[0]?.location }}</p>
    </ion-card-content>

    <ion-card-content *ngFor="let s of store">
      <p><strong>Stock ID:</strong> {{ s.stock_id }}</p>
      <p><strong>Stock Name:</strong> {{ s.stock_name }}</p>
      <p><strong>Price:</strong> RM {{ s.price }}</p>
      <p><strong>Quantity:</strong> {{ s.quantity }}</p>
      <p><strong>Description:</strong> {{ s.description }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
