/* ===============================
   HEADER
================================ */

.profile-header ion-toolbar {
  --background: #ffffff;
}

.profile-header ion-title {
  font-weight: 700;
  color: #16a34a;
}

/* ===============================
   PAGE
================================ */

.profile-content {
  background: #f8fafc;
  padding-bottom: 90px;
  
}

/* ===============================
   PROFILE CARD
================================ */

.profile-card {
  margin: 16px;
  border-radius: 20px;
  text-align: center;
  background: linear-gradient(
    135deg,
    #16a34a,
    #22c55e
  );
  color: #ffffff;

  ion-card-content {
    padding: 20px;
  }

  h2 {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
  }
}

.avatar ion-icon {
  font-size: 80px;
  opacity: 0.9;
}

.user-id {
  font-size: 12px;
  opacity: 0.85;
}

/* ===============================
   FORM
================================ */

.profile-form {
  margin: 16px;
  border-radius: 20px;
}

/* ===============================
   INPUTS
================================ */

ion-item {
  --background: transparent;
  margin-bottom: 6px;
}

ion-label {
  font-size: 13px;
  color: #64748b;
}

ion-input[readonly] {
  opacity: 0.85;
}

/* ===============================
   BUTTONS
================================ */

.profile-buttons {
  padding: 0 16px;
}

.profile-buttons ion-button {
  margin-top: 10px;
  height: 48px;
  font-weight: 600;
  --border-radius: 16px;
}
