<ion-header [translucent]="true" class="profile-header">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="profile-content">

  <!-- PROFILE HEADER -->
  <ion-card *ngIf="userData" class="profile-card">
    <ion-card-content>

      <div class="avatar">
        <ion-icon name="person-circle-outline"></ion-icon>
      </div>

      <h2>{{ userData.first_name }} {{ userData.last_name }}</h2>
      <p class="user-id">@{{ userData.username }}</p>
      <!-- <p class="user-id">User ID: {{ userData.user_id }}</p> -->

    </ion-card-content>
  </ion-card>

  <!-- PROFILE FORM -->
  <ion-card *ngIf="userData" class="profile-form">

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input
        [(ngModel)]="userData.email"
        [readonly]="!isEditing">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">First Name</ion-label>
      <ion-input
        [(ngModel)]="userData.first_name"
        [readonly]="!isEditing">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input
        [(ngModel)]="userData.last_name"
        [readonly]="!isEditing">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input
        [(ngModel)]="userData.phone"
        [readonly]="!isEditing">
      </ion-input>
    </ion-item>

  </ion-card>

  <!-- ACTIONS -->
  <div class="profile-buttons">
    <ion-button expand="block" (click)="toggleEdit()">
      {{ isEditing ? 'Save Changes' : 'Edit Profile' }}
    </ion-button>

    <ion-button expand="block" fill="outline" color="danger" (click)="logout()">
      Logout
    </ion-button>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="tab-bar">
      <div class="tab-item" (click)="goHome()">
        <ion-icon name="home-outline"></ion-icon>
        <span>Home</span>
      </div>

      <div class="tab-item" [class.active]="router.url === '/cart'" routerLink="/cart" *ngIf = "role === 'customer'">
        <ion-icon name="cart-outline"></ion-icon>
        <span>Cart</span>
      </div>
      <div class="tab-item" [class.active]="router.url === '/profile'" routerLink="/profile">
        <ion-icon name="person-outline"></ion-icon>
        <span>Profile</span>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
