.admin-layout {
  display: grid;
  grid-template-columns: 240px 1fr;
  min-height: 100vh;
  background: #f8fafc;
}

/* CONTAINER */
.admin-container {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
// .sidebar {
//   background: #0f172a;
//   color: #fff;
//   padding: 24px;

//   .logo {
//     margin-bottom: 32px;
//     font-size: 20px;
//     font-weight: 700;
//   }

//   nav a {
//     display: block;
//     padding: 12px;
//     color: #cbd5f5;
//     border-radius: 8px;
//     margin-bottom: 6px;
//     cursor: pointer;
//     text-decoration: none;

//     &:hover,
//     &.active {
//       background: #1e293b;
//       color: #fff;
//     }
//   }
// }

/* SIDEBAR */
.sidebar {
  position: fixed;
  width: var(--sidebar-width);
  background: #0f172a;
  color: white;
  padding: 20px;
  height: 100%;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  padding: 10px;
  margin-bottom: 6px;
  color: #cbd5f5;
  text-decoration: none;
  border-radius: 6px;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background: #1e293b;
  color: white;
}

/* MAIN CONTENT */
.main {
  margin-left: var(--sidebar-width);
  flex: 1;
  padding: 24px;
}

h1 {
  margin-bottom: 16px;
}

/* STATS */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
  margin-bottom: 32px;
}

.stat-card {
  background: white;
  border-radius: 14px;
  padding: 18px;
  box-shadow: 0 6px 16px rgba(0,0,0,.06);

  span {
    font-size: 13px;
    color: #64748b;
  }

  strong {
    display: block;
    font-size: 26px;
    margin-top: 6px;
  }

  &.highlight {
    border-left: 5px solid #16a34a;
  }
}

/* CHARTS */
.charts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 24px;
}

.chart-card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 6px 16px rgba(0,0,0,.06);
}

.chart-card canvas {
  max-height: 300px !important;
}