<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="userData">
    <ion-card-header>
      <ion-card-title>User Profile: {{ userData.username }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>User ID:</strong> {{ userData.user_id }}</p>



      <p><strong>Email:</strong> {{ userData.email }}</p>
      <ion-input
        type="string"
        [(ngModel)]="userData.email"
        [readonly]="!isEditing">
      </ion-input>
      <p><strong>First Name:</strong> {{ userData.first_name }}</p>
      <ion-input
        type="string"
        [(ngModel)]="userData.first_name"
        [readonly]="!isEditing">
      </ion-input>
      <p><strong>Last Name:</strong> {{ userData.last_name }}</p>
      <ion-input
        type="string"
        [(ngModel)]="userData.last_name"
        [readonly]="!isEditing">
      </ion-input>
      <p><strong>Phone Number:</strong> {{ userData.phone }}</p>
      <ion-input
        type="string"
        [(ngModel)]="userData.phone"
        [readonly]="!isEditing">
      </ion-input>
    </ion-card-content>
  </ion-card>
  <div class="profile-buttons">
    <ion-button expand="block" (click)="toggleEdit()">
      {{ isEditing ? 'Save' : 'Edit' }}
    </ion-button>

    <ion-button expand="block" class="logout-button" (click)="logout()">
      Logout
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="tab-bar">

      <div class="tab-item"
          [class.active]="router.url === '/dashboard-customer'"
          routerLink="/dashboard-customer">
        <ion-icon name="home-outline"></ion-icon>
        <span>Home</span>
      </div>

      <div class="tab-item"
          [class.active]="router.url === '/cart'"
          routerLink="/cart">
        <ion-icon name="cart-outline"></ion-icon>
        <span>Cart</span>
      </div>
      <div class="tab-item"
          [class.active]="router.url === '/profile'"
          routerLink="/profile">
        <ion-icon name="person-outline"></ion-icon>
        <span>Profile</span>
      </div>

    </div>
  </ion-toolbar>
</ion-footer>
