/* PAGE BACKGROUND */
ion-content {
  --background: #f5f7fb;
}

/* CONTAINER */
.admin-container {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
  width: var(--sidebar-width);
  background: #0f172a;
  color: white;
  padding: 20px;
  height: 100%;
}
// .sidebar {
//   position: fixed;
//   top: 56px; /* height of ion-header */
//   left: 0;
//   width: 220px;
//   height: calc(100vh - 56px);

//   background: #0f172a;
//   color: white;
//   padding: 20px;
//   z-index: 10;
// }

.logo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar nav a {
  display: block;
  padding: 10px;
  margin-bottom: 6px;
  color: #cbd5f5;
  text-decoration: none;
  border-radius: 6px;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background: #1e293b;
  color: white;
}

/* MAIN CONTENT */
.main {
    margin-left: var(--sidebar-width);
  flex: 1;
  padding: 24px;
}

h1 {
  margin-bottom: 16px;
}

.category-thumb {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 12px;
  border: 1px solid #e5e7eb;
}
