<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recommend Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="centre-content">
    <h4>Recommended Stores</h4>

    <div class="store-list">
      <ion-card
        *ngFor="let s of store"
        class="store-card"
        [routerLink]="['/store-detail', s.store_id]"
        button
      >
      
        <!-- STORE IMAGE -->
        <div class="store-image">
          <img
            *ngIf="s.store_image_path"
            [src]="environment.Upload_URL + '/' + s.store_image_path"
            alt="{{ s.store_name }}"
          />
        </div>

        <ion-card-header>
          <ion-card-title>{{ s.store_name }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p><strong>Store ID:</strong> {{ s.store_id }}</p>
          <p><strong>Distance:</strong> {{ s.distance }}</p>
          <!-- <p><strong>Matched Items:</strong> {{ s.matched_items }}</p> -->
          <p><strong>Matched Items:</strong></p>
          <ul  *ngIf="s.matched_items?.length">
            <li *ngFor="let item of s.matched_items">
              {{ item.stock_name }} (Cart ID: {{ item.cart_id }})
            </li>
          </ul>

          <p *ngIf="s.missing_stock_id">
            <strong>Missing Stock ID:</strong> {{ s.missing_stock_id }}
          </p>
        </ion-card-content>

      </ion-card>
    </div>
  </div>

</ion-content>
